:root {
    --bg-color: rgb(43, 43, 43);
    --text-color: #dadada;
    --secondary-text-color: #808080;
    --border-color: #cccccc;
}



html, body {
    margin: 0;
    padding: 0;

    height: 100%;
    background-color: transparent;
    overflow: hidden;
}

p {
    font-display: fallback;
}


/*Scroll bar*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: #666666;
}

::-webkit-scrollbar-thumb:hover {
    background: #575757;
}



/*For pages (ie. 001.html, 002.html etc.)*/
div.image-box{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0;

        height: 100%;
        width: auto;
}

img {
    object-fit: contain;
    display: inline-block;
    height: 100%;
    width: auto;

    max-height: 100%;
    max-width: 100%;

    padding: 0;

    image-rendering: high-quality;  /*https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering*/
}

.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 15%;
    overflow-x: hidden;
    color: transparent;
  }



.left {
    left: 0;
    width: 40%;
}

.right {
    right: 0;
    width: 60%;
}

.top {
    position: absolute;
    height: 15%;
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    color: transparent;
    top: 0;
    left: 0;
}




.dropdown-button {
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    margin: 0;

    position: absolute;
    overflow-x: hidden;
    color: transparent;
    background-color: transparent;
    border: 0;
    padding: 0;

    display: inline-block;
    z-index: 2;
    
}

.dropdown-content {
    display: none;
    background-color: var(--border-color);
    min-width: 100%;
    z-index: 3;

    padding: 8px;
    margin: 0;
    position: absolute;
}

.show {
    display: block;
    z-index: 2;
}


/*
Logic:

if (user clicked the button) {
    show the menu
    opened = 1
}

if (opened == 1 && user clicked the button) {
    close the menu
    opened = 0;
} 

*/

