body {
    background-color: black; 
    margin-left: 5%;
    margin-top: 5%;
  }
  
@media (min-width: 600px) {
    body {
      width: 50%;
    }
}


p {
    color: white;
    font-family: "Helvetica";
    font-size: 1.35rem;
  }
  
a.link {
    padding: 7px 13px; 
    background-color: #696969;
    color: rgb(240, 242, 252);
    text-decoration: none;
    border-radius: 5px;
    font-family: "Helvetica";
    margin-bottom: 2rem;
    font-size: 1.35rem;
  }
  
td {
    padding-bottom: 2rem;
}
  
  
@font-face {
  /*Johnston*/
     font-family: "Johnston";
     src: url("../lib/font/P22 Johnston Underground Regular.ttf");
  }
  
@font-face {
  /*Helvetica*/
     font-family: "Helvetica";
     src: url("../lib/font/Helvetica.ttf");
  }